doctype html
html
    link(rel="stylesheet", href="/ui/css/uikit.min.css")
    script(src="/ui/js/uikit.min.js")
    script(src="/ui/js/uikit-icons.min.js")

    style.
      body * {
        animation: uk-fade .8s linear;
      }

      a.uk-button-text,
      a.uk-button-text:focus,
      a.uk-button-text:hover,
      a.uk-button-text::before {
          color: #1e87f0;
          border-color: #1e87f0;
          text-decoration: none;
      }